/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* прокрутка плавная */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

/* Основные настройки страницы */
body {
  background: #0f172a;
  color: white;
  font-family: "Inter", sans-serif;
}
